.vc {
	display: flex;
}

.vc > [class*="col-xs-"] {
	display: flex;
	align-items: center;
	justify-content: center;
}

.description {
	margin-top: 20px;
	margin-bottom: 20px;
}

.mycontainer {
	margin-top: 50px;
	margin-left: 20%;
}

.del {
	color: crimson;
}